*{
    padding: 0%;
    margin:0%;

}
header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #fcbc5c;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 11;
   }

   header, nav ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
   }

   nav ul li {
    margin-left: 1rem;
   }

   footer {
    display: grid;
    align-content: center;
    background-color: #04bc64;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    }

    main{
      margin-top: 99px;
    }
    ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    li {
    display: inline-block;
    margin: 0 10px;
    }

    a {
    color: #fff;
    text-decoration: none;
    }

    .intro img{
        display: grid;
        row-gap: 20px;
        background-size: cover;
        width: 100%;

    }
      .buttonSt{
        display: block;
        width: 120px;
        height: 33px;
        line-height: 35px;
        font-size: 18px;
        font-family: sans-serif;
        text-decoration: none;
        color: #333;
        border: 0px solid #333;
        letter-spacing: 2px;
        text-align: center;
        position: relative;
        transition: all .35s;
      }

      a span{
        position: relative;
        z-index: 2;
      }

     .buttonSt a:after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #ff003b;
        transition: all .35s;
      }

      a:hover{
        color: #fff;
      }

      a:hover:after{
        width: 100%;
      }



    .carousel {
        position: relative;
        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
        margin-top: 26px;
    }

    .carousel-inner {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .carousel-open:checked + .carousel-item {
        position: static;
        opacity: 100;
    }

    .carousel-item {
        position: absolute;
        opacity: 0;
        -webkit-transition: opacity 0.6s ease-out;
        transition: opacity 0.6s ease-out;
    }

    .carousel-item img {
        display: block;
        height: auto;
        max-width: 100%;
    }

    .carousel-control {
        background: rgba(0, 0, 0, 0.28);
        border-radius: 50%;
        color: #fff;
        cursor: pointer;
        display: none;
        font-size: 40px;
        height: 40px;
        line-height: 35px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        cursor: pointer;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        text-align: center;
        width: 40px;
        z-index: 10;
    }

    .carousel-control.prev {
        left: 2%;
    }

    .carousel-control.next {
        right: 2%;
    }

    .carousel-control:hover {
        background: rgba(0, 0, 0, 0.8);
        color: #aaaaaa;
    }

    #carousel-1:checked ~ .control-1,
    #carousel-2:checked ~ .control-2,
    #carousel-3:checked ~ .control-3 {
        display: block;
    }

    .carousel-indicators {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 2%;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 10;
    }

    .carousel-indicators li {
        display: inline-block;
        margin: 0 5px;
    }

    .carousel-bullet {
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 35px;
    }

    .carousel-bullet:hover {
        color: #aaaaaa;
    }

    #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
    #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
    #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
        color: #428bca;
    }

    #title {
        width: 100%;
        position: absolute;
        padding: 0px;
        margin: 0px auto;
        text-align: center;
        font-size: 27px;
        color: rgba(255, 255, 255, 1);
        font-family: 'Open Sans', sans-serif;
        z-index: 9999;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
    }



    figure {
        display: grid;
        overflow: hidden;
        cursor: pointer;
        padding: 50px;
      }
      figure > * {
        grid-area: 1/1;
        transition: .4s;
      }
      figure figcaption {
        display: grid;
        align-items: end;
        font-family: sans-serif;
        font-size: 2.3rem;
        font-weight: bold;
        color: #0000;
        padding: .75rem;
      }
    
      figure:hover img {
        transform: scale(1.2);
      }
     

      .figuras{
        margin: 0px;
        gap: 17px;
        min-height: 40vh;
        display: grid;
        grid-auto-flow: column;
        place-content: center;
        background-color: #fcbc5c;
      }


    .tSobFig{
      font-family: 'Open Sans', sans-serif;
        display: grid;
        text-align: center;
        background-color: #fcbc5c;
      
        
    }
    
    .tSobFig h2{
      margin-top: 40px;
    }

    @media screen and (max-device-width: 414px){

    }

    @media screen and (min-device-width: 415px) and (max-device-width: 1280px){

    }

    .empresas{
      display: grid;
      font-family: 'Open Sans', sans-serif;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      row-gap: 50px;
      background-color: #428bca;
      padding-top: 50px;
      overflow: hidden;
      cursor: pointer;
    }

    .empresas > *{
      transition: .4s;
    }

    .empresas:hover img {
      transform: scale(1.5);
    }


    h2{
      font-family: 'Open Sans', sans-serif;
      padding-top: 20px;
      text-align: center;
    
    }


    .quem-somos-container {
      font-family: 'Open Sans', sans-serif;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  }


  .quem-somos-imagem {
      flex: 1;
      padding: 20px;
  }

  .quem-somos-texto {
      flex: 2;
      padding: 20px;
  }
  

  .client-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.client-logo {
    width: 100%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
}

.client-logo:hover {
    transform: scale(1.1);
}

.reviews {
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.review {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px;
}

.review h3 {
  
  font-size: 1.2rem;
  margin: 0;
}

.review p {
  margin: 5px 0;
}

h1{
font-family: 'Open Sans', sans-serif;
padding: 50px;
  text-align: center;
}